.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.Calculator {
  display: flex;
  flex-direction: column;
  padding: 16px;
  background-color: #f2f2f2;
  border-radius: 8px;
}

.ButtonRow {
  display: flex;
}

.ButtonRow > :first-child {
  border-top-left-radius: 8px;
}

.ButtonRow > :last-child {
  border-top-right-radius: 8px;
}

.ButtonRow > :nth-child(4n + 1) {
  border-left-width: 0;
}

.ButtonRow > :nth-child(4n) {
  border-right-width: 0;
}
